@charset "utf-8";
/* CSS Document */

p, h1, h2, h3, h4, h5, h6{color: white;}

img{
	width: auto;
    height: auto;
    max-height: 100px;
}

form{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

fieldset{
	width: 100%;
	padding: 15px;
}

legend{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 25px;
}
.inpText:first-of-type{
	margin-left: 20% !important;
}
.inpText:last-of-type{
	margin-right: 20% !important;
}

.inpText{
	width: 20% !important;
	max-width: 150px;
}

#submit{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.textNum{
	text-align: center;
}

#voirBD h2{
	text-align: center;
}