@charset "utf-8";
/* CSS Document */

p, h1, h2, h3, h4, h5, h6, label{color: white;}

.contForm{
	float: left;
    height: 250px;
    width: 100%;
	background-color: var(--cont-color);
	text-align: center;
	padding-top: 25px;
}

#section_2{
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

#section_2, #section_3{
	width: 50%;
	margin: auto;
	text-align: left;
	padding-left: 15px;
}

svg{
    color: #c1c1c1;
    transition: all 0.3s ease-in-out;
}

svg:hover{
    fill: #FCFCFC;
    transition: all 0.2s ease-in-out;
}

#section_0{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
}



/* BOUTON RETOUR */

#btnRetour{
	margin: auto;
}